<!--카루셀 화장대-->
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" data-interval="10000">
  <div class="carousel-inner">
    <div class="carousel-item active">
        <div class='firstpage'>
          <div class='top'>
            <div class='item left'>
              <div class='floor one'>
                <div class="div2"></div>
              </div>
              <div class='floor two'>
                <div class="div2"></div>
              </div>
            </div>

            <div class='item middle'>
              <div class='jprofile'>

                <div class='jprofile_top'>
                    <div class='profiletop'>
                      <div class='nofcos'>56<br>화장품</div>
                      <div class='noffriends'>118<br>친구</div>
                    </div>

                    <div class="profile">
                      <% if User.find(@user_id).profile_img.url %>
                        <img src="<%= @user.profile_img.thumb.url %>" class='profileimage'>
                      <% end %>
                    </div><br>
                    <div class="profile_info">
                      <div class='profile_info_nick'>
                        <h1><%= @user.nickname %></h1>
                      </div>
                      <div class='profile_info_mes'>
                        <h5><%= @user.intro%></h5>                        
                      </div>
                        <br>
                    </div>
                </div><br>

                <div class='jprofile_bottom'>
                  <div class='jhistory'>
                    <a href='/friends/index'><img src='/likeblack.png'></a>
                  </div>
                  <div class='jfriends'>
                    <% if user_signed_in? %>
                      <a href='/friends/index'><img src='/group.png'></a>
                    <% end %>
                  </div>
                  <div class='jmypage'>
                    <% if user_signed_in? %>
                    <a href='/users/edit'><img src='/user.png'></a>
                    <% end %>
                  </div>
                </div>

              </div>
            </div>

            <div class='item right'>
              <div class='floor three'>
                <div class="div2"></div>
              </div>
              <div class='floor four'>
                <div class="div2"></div>       
              </div>
            </div>
          </div>
          <div class='bottom'>
            <div class='floor five'>
                <% @posts.each_with_index do |p,index| %>

                  <div class="cosmetic_box openmodal myBtn">
                    <img src="<%=p.carrierimage.thumb%>">
                  </div>

                  <div class="cosmeticmodal myModal">
                    <div class="cosmeticmodal_content">

                      <span class="cosmeticclose">&times;</span>
                      <div class='jflex'>
                        <div class='jpicture'>
                          <div class='modalcospic' style='width:100px; height:100px;'>
                            <img src=" <%=p.carrierimage.modalthumb%>">
                          </div>
                          <div style='font-size: 10px; color: gray; text-align:center;'>
                            <%= Category.find(p.category).name %><br>
                            <% if p.public == true %>
                              <% @public = "공개" %>
                            <% else %>
                              <% @public = "비공개" %>
                            <% end %>
                            <%= @public %>
                            <br>
                          </div>
                        </div>
                        <div class='jcontent'>
                          <strong><h3><%= p.title %></h3></strong>
                          <br>
                          <h6><%= p.open_date %> 개봉</h6>
                          <h6><%= p.exp_date %> 까지</h6><br>
                          <% @exp = p.exp_date %>
                          <% @today = Date.today %>
                          <h4 style='color:red;'>D<%= sprintf("%+d", @remain = @today - @exp) %></h4><br>
                          <h4><%= p.memo %></h4>
                        </div>
                      </div>

                      <div class='jflex_2'>
                          <% if current_user.is_like? (p) %>
                          <%=form_tag("/post/#{p.id}/like") do%>
                          <button class='ulike'><img src='/16redh.png'> 인생템 취소 </button>
                          <%end%>

                          <% else %>
                          <%=form_tag("/post/#{p.id}/like") do%>
                          <button class='unolike'><img src='/16grayh.png'> 인생템</button>
                          <%end%>
                          <% end %>
                        <button class='jedit'><%= link_to '수정', edit_post_path(p)%></button>
                        <button class='jedit'><%= link_to '삭제', post_path(p), method: :delete, data: { confirm: '정말 삭제하시겠어요?' } %></button>
                      </div>
                    </div>
                  </div>

                <%end%>            
            </div>
          </div>
        </div>
    </div>
    <div class="carousel-item rightside">
        <div class='firstpage'>
          <div class='top'>
            <div class='pageright'>
              <div class='topright floorside'></div>
              <div class='middleright floorside'></div>
            </div>
          </div>
          <div class='bottom'>
            <div class='bottomright floorside'></div>
          </div>
        </div>      
    </div>
    <div class="carousel-item leftside">
        <div class='firstpage'>
          <div class='top'>
            <div class='pageright'>
              <div class='topleft floorside'>
                <% @posts.each_with_index do |p,index| %>

                  <div class="cosmetic_box openmodal myBtn">
                    <img src="<%=p.carrierimage.thumb%>">
                  </div>

                  <div class="cosmeticmodal myModal">
                    <div class="cosmeticmodal_content">
                      <span class="close">&times;</span>
                      <p>
                      상품 : <%= p.title %><br>
                      메모 : <%= p.memo %><br>
                      </p>
                      <div class='testest'>
                        <strong>carrierimage:</strong>
                        <img src="<%= p.carrierimage.thumb %>">
                      </div>
                      <p>
                        종류 : <%= p.category %><br>
                        <strong>Open date:</strong><%= p.open_date %><br>
                        <strong>Exp date:</strong><%= p.exp_date %><br>
                        <strong>Public:</strong><%= p.public %><br>
                        <strong>D-day 테스트용</strong>
                        </br>
                        exp_date : <%= @exp_date %>
                        </br>
                        today : <%= @today %>
                        </br>
                        D<%= @sign %><%= @remain %>
                        </br>
                        결과 : <%= @result %>
                      </p>
                      <strong>Like:</strong><%= p.likes.size %> 명이 좋아합니다.랄랄랄<br>      
                      <p>
                        <% if current_user.is_like? (p) %>
                        <%=form_tag("/post/#{p.id}/like") do%>
                        <button class='notlikeit'> 인생템 취소 </button> 
                        <%end%>
                        
                        <% else %>
                        <%=form_tag("/post/#{p.id}/like") do%>
                        <button class='likeit'> 인생템 </button>
                        <%end%>
                        
                        <% end %>
                      </p>
                      <%= link_to 'Edit', edit_post_path(p) %>
                    </div>
                  </div>

                <%end%>                  
              </div>
              <div class='topleft floorside'></div>
            </div>
          </div>
          <div class='bottom'>
            <div class='bottomleft floorside'></div>
          </div>
        </div>      
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev" style="opacity: 0.01;">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next" style="opacity: 0.01;">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<div class='footer'>
  <div class="comment_div">
      <div class="titleBox">
        <label>파우치 리뷰</label>
      </div>


      <div class="actionBox">
          <ul class="commentList">
          <% User.find(params[:user_id]).table_comments.all.each do |comment| %>
              <li>
                  <div class="commenterImage">
                    <img src='<%= comment.user.profile_img.thumb4 %>' class='commentprofileimage'> 
                  </div>
                  <div class="commentText">
                    <div class='a'>
                      <%= comment.user.nickname %>
                      <%= comment.content %>                     
                    </div>
                      <span class="date sub-text"><%= comment.created_at.strftime("%y/%m/%d") %></span>
                  </div>
              </li>
          <% end %>
          </ul>
          <%= form_for TableComment.new, html: {class: "form-inline"}, url: tables_comments_create_path(user_id: params[:user_id]) do |f| %>
              <div class="form-group-com">
                  <img src='<%=@user.profile_img.thumb3 %>' class='mycommentprofileimage'>
                  <%= f.text_field :content, class: 'form-control', :size=>"50", placeholder: '댓글달기'%>
              </div>
              <div class="form-group-com">
                <%=f.submit "작성", class: 'btn btn-default'%>
              </div>
          <% end %>
      </div>
  </div>

  <div class='friends_div'>
      <div class="titleBox">
        <label>친구 추천</label>
      </div>
      <div class="actionBox">
          <ul class="commentList">
          <% User.find(params[:user_id]).table_comments.all.each do |comment| %>
              <li>
                  <div class="commenterImage">
                    <img src='<%= comment.user.profile_img.thumb4 %>' class='commentprofileimage'> 
                  </div>
                  <div class="commentText">
                    <div class='a'>
                      <div class='who'><%= comment.user.nickname %></div>
                      <p> <%= comment.content %></p>                      
                    </div>
                      <span class="date sub-text"><%= comment.created_at.strftime("%y/%m/%d") %></span>
                  </div>
              </li>
          <% end %>
          </ul>
          <%= form_for TableComment.new, html: {class: "form-inline"}, url: tables_comments_create_path(user_id: params[:user_id]) do |f| %>
              <div class="form-group-com">
                  <img src='<%=@user.profile_img.thumb3 %>' class='mycommentprofileimage'>
                  <%= f.text_field :content, class: 'form-control', placeholder: '댓글달기'%>
              </div>
              <div class="form-group-com">
                  <%=f.submit "작성", class: 'btn btn-default'%>
              </div>
          <% end %>
      </div>      
  </div>
</div>
<%= link_to 'New Post', new_post_path %>
<!-- 모달 -->
<div id="myBtn-form">등록하기</div>

<div id="myModal-form" class="modal1">
<!-- Modal content -->
  <div class="modal-content1">
    <div class="ctn-form">
    <%= render 'form', post: @post %>
    </div>
  </div>                        
</div>
<script type='text/javascript'>
  // Get the modal
  var modalform = document.getElementById('myModal-form');
          
  // Get the button that opens the modal
  var btnform = document.getElementById("myBtn-form");
          
  // Get the <span> element that closes the modal
  var span = document.getElementsByClassName("close")[0];
          
  // When the user clicks the button, open the modal 
  btnform.onclick = function() {
    modalform.style.display = "block";
  }
          
  // When the user clicks on <span> (x), close the modal
  span.onclick = function() {
    modalform.style.display = "none";
  }
          
  // When the user clicks anywhere outside of the modal, close it
  window.onclick = function(event) {
    if (event.target == modalform) {
        modalform.style.display = "none";
      }
  }
</script>

<script type='text/javascript'>
 window.onload = function(){
var modals = document.getElementsByClassName('cosmeticmodal');
var btns = document.getElementsByClassName("openmodal");
var spans=document.getElementsByClassName("cosmeticclose");
for(let i=0;i<btns.length;i++){
    btns[i].onclick = function() {
        modals[i].style.display = "block";
    }
}
for(let i=0;i<spans.length;i++){
    spans[i].onclick = function() {
        modals[i].style.display = "none";
    }
}
}
</script>

<script type="text/javascript">
  $("#inpt_search").on('focus', function () {
    $(this).parent('label').addClass('active');
});
$("#inpt_search").on('blur', function () {
    if($(this).val().length == 0)
        $(this).parent('label').removeClass('active');
});
</script>
