<p id="notice"><%= notice %></p>
<h1>친구 요청을 볼 수 있는 페이지</h1>

<% if user_signed_in? %>
    <p>
      요청 온 것!<br>
      <% if @incomings.empty? %>
        대기중인 친구 요청이 없습니다.
      <% else %>
        <p>
          <% @incomings.each do |incoming| %>
            <%= User.find(incoming.user_id).nickname %>님이 친구 요청을 했습니다.
            <%= link_to "친구신청 수락", friend_request_path(:id => incoming.id), :method => :put %>
            <%= link_to "친구신청 거절", friend_request_path(:id => incoming.id), :method => :delete %>
          <% end %>
        </p>
      <% end %>
    </p>

    <p>
      내가 요청한 것!<br>
    
      <% if @outgoings.empty? %>
        대기중인 친구 요청이 없습니다.
      <% else %>
        <% @outgoings.each do |outgoing| %>
          <%= User.find(outgoing.friend_id).nickname %>님께 친구 요청을 했습니다.
          <%= link_to "친구신청 취소", friend_request_path(:id => outgoing.id), :method => :delete %>
        <% end %>
      <% end %>
    </p>
    
    <p>
      <%= link_to "친구요청 보내러가기", new_friend_request_path %>
    </p>
    <p>
      <%= link_to "친구목록", friends_index_path %>
    </p>
<% else %>
    로그인을 해주세요!
<% end %>
