<div class='newcosmetic'>
  <%= form_with(model: post, local: true) do |form| %>
    <% if not user_signed_in? %>
      로그인이 필요합니다.
    <% else %>
      <!-- form 작성 시 오류가 있다면, 저장되지 않는다는 에러 메세지 띄워줌 -->
      <% if post.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>
          <ul>
          <% post.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <!-- form 양식 -->
      <div class="field">
        <%= form.label :"화장품 이름" %>
        <%= form.text_field :title %>
      </div>

      <div class="field">
        <%= form.label :"간단메모" %>
        <%= form.text_field :memo %>
      </div>

      <div class="field">
        <%= form.label :'종류' %>
        <%= form.select(:category, options_for_select(
            [
                ["스킨", "스킨"],
                ['로션', "로션"],
                ['립스틱', "립스틱"],
                ['파운데이션', "파운데이션"],
            ], 4
        )) %>
      </div>

      <div class="field">
        <%= form.label :'개봉날짜' %>
        <%= form.date_select :open_date, :use_month_numbers=>true,
            start_year: Date.today.year-10, end_year: Date.today.year+10, prompt: { year: '연도' , month: '월', day: '일'}  %>
      </div>

      <div class="field">
        <%= form.label :'유통기한' %>
        <%= form.date_select :exp_date, :use_month_numbers=>true,
            start_year: Date.today.year-10, end_year: Date.today.year+10, prompt: { year: '연도' , month: '월', day: '일'} %>
      </div>

      <%= form.label :'공개여부' %>
      <%= form.radio_button(:public, true, :checked => true) %>
      <%= label_tag(:public, "공개") %>
      <%= form.radio_button(:public, false) %>
      <%= label_tag(:public, "비공개") %>    

      <!-- carrierwave 이미지 업로드를 위한 field -->
      <%= form.file_field :image %>

      <!-- user_id를 전달하기 위한 hidden_field -->
      <%= form.hidden_field :user_id, value: (User.find_by email: current_user.email).id %>

      <div class="actions">
        <%= form.submit '작성' %>
      </div>
    <% end %>
  <% end %>
</div>