
<div class='newcosmetic-edit-modal'>

	<div class='newcosmetic-edit-content'>
	  <%= form_with(model: @post, local: true) do |form| %>
	    <% if not user_signed_in? %>
	      로그인이 필요합니다.
	    <% else %>
	      <div class='headofthemodal_edit'>
	        <div class="titletitle">상품 수정</div>
	      </div>

			<div class='topofthemodaledit'>
				<div class='modalcospic' style='width:100px; height:100px;'>
					<img src=" <%= @post.carrierimage.modalthumb%>">
				</div>

				<div class='modalcos'>
			      <!-- form 양식 -->
			      <div class="field form-group">
			        <%= form.text_field :title, :class => 'control-inputs' %>
			        <%= form.label :"화장품 이름", :class =>'control-label' %>
			        <i class="bar"></i>
			      </div>

			      <div class="field form-group">
			        <%= form.text_field :memo, :class => 'control-inputs' %>
			        <%= form.label :"간단메모", :class =>'control-label' %> 
			        <i class="bar"></i>
			      </div>			
				</div>		
			</div>

			<div class='bottomofthemodaledit'>
				<!-- 대분류일때 -->
				<% if @cate.depth == 0 %>
					<div id="big-category">
	          <%= form.label :'종류' %></br>
	          <%= form.collection_select :category, Category.roots, 'id', 'name', {:prompt => "대분류"}, {:id => 'big-select'} %>
	        </div>
	        <div id="middle-category">
	        </div>
	        <div id="small-category">
	        </div>
	      <!-- 중분류일때 -->
	      <% elsif @cate.depth == 1 %>
	      	<div id="big-category">
	          <%= form.label :'종류' %></br>
	          <%= form.collection_select :category, Category.roots, 'id', 'name', {:prompt => "대분류", :selected => @cate.parent.id}, {:id => 'big-select' } %>
	        </div>
	        <div id="middle-category">
	          <%= form.collection_select :category, Category.where(ancestry: @cate.ancestry), 'id', 'name', {:prompt => "중분류"}, {:id => 'middle-select'} %>	        	
	        </div>
	        <div id="small-category">
	        </div>
	      <!-- 소분류일때 -->  
	      <% else %>
	      	<div id="big-category">
	          <%= form.label :'종류' %></br>
	          <%= form.collection_select :category, Category.roots, 'id', 'name', {:prompt => "대분류", :selected => @cate.parent.parent.id}, {:id => 'big-select' } %>
	        </div>
	        <div id="middle-category">
	          <%= form.collection_select :category, Category.where(ancestry: @cate.parent.ancestry), 'id', 'name', {:prompt => "중분류", :selected => @cate.parent.id }, {:id => 'middle-select' } %>	        	
	        </div>
	        <div id="small-category">
	        	<%= form.collection_select :category, Category.where(ancestry: @cate.ancestry), 'id', 'name', {:prompt => "소분류"}, {:id => 'small-select'} %>
	        </div>
	      <% end %>

				<div class="field form-group">
				    <%= form.label :'개봉날짜' %>
			        <%= form.date_select :open_date, :use_month_numbers=>true,
			        start_year: Date.today.year-10, end_year: Date.today.year+10, prompt: { year: '연도' , month: '월', day: '일'}%>
				</div>

				<div class="field form-group">
				    <%= form.label :'사용기한' %>
				    <%= form.date_select :exp_date, :use_month_numbers=>true,
				    start_year: Date.today.year-10, end_year: Date.today.year+10, prompt: { year: '연도' , month: '월', day: '일'}%>
				</div>

				<div class='form-group'>
				    <%= form.label :'공개여부' %>
				      <div class='choose_section'>
				            <div class='optionopen'>
				                <%= form.radio_button(:public, true, :checked => true)%>
				                <%= label_tag(:public, "공개")%>
				            </div>
					        <div class='optionclose'>
					            <%= form.radio_button(:public, false)%>
					            <%= label_tag(:public, "비공개")%>
					        </div>
				      </div>
				</div>

				      <!-- carrierwave 이미지 업로드를 위한 field -->
				    <%= form.file_field :carrierimage, :class =>'imageuploadclass' %><br>

				      <!-- user_id를 전달하기 위한 hidden_field -->
				    <%= form.hidden_field :user_id, value: (User.find_by email: current_user.email).id %><br>
			</div>

	      <div class="actions btn-send">
	        <%= form.submit '수정하기', :class => 'control-inputs' %>
	      </div>
	    <% end %>
	  <% end %>		
	</div>
</div>      

<%= javascript_include_tag('cosmetic_new') %> 