

<h1>등록된 모든 화장품 보기</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Memo</th>
      <th>Img url</th>
      <th>Category</th>
      <th>Open date</th>
      <th>Exp date</th>
      <th>Public</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>


  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.title %></td>
        <td><%= post.memo %></td>
        <td><img src='<%= post.carrierimage.thumb %>'></td>
        <td><%= post.category %></td>
        <td><%= post.open_date %></td>
        <td><%= post.exp_date %></td>
        <td><%= post.public %></td>
        <td><%= post.user_id %></td>
        <td><%= link_to 'Show', post %></td>
        <td><%= link_to 'Edit', edit_post_path(post) %></td>
        <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '화장품 등록하기', new_post_path %>

 <%= form_tag("/posts/search", method: "get") do %>
        
        <%= text_field_tag(:search,params[:search], data: {behavior:"autocomplete"}) %>
       <%= submit_tag "검색", :name => nil %>
        <% end %>


        <!-- 위는  다은 -->




<%= link_to '친구기능(friend_requests/index)', friend_requests_path %>
=======
<p>요기부터 화장대당</p>


<!--카루셀 화장대-->
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" data-interval="10000">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
        <div class='firstpage'>
          <div class='top'>
            <div class='item left'>
              <div class='floor one'>
                <div class="div2" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
                <div class="div2" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
                <div class="div2" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
                <div class="div2" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
                <div class="div2" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
                <div class="div2" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
              </div>
              <div class='floor two'>
                <div class="div2" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
                <div class="div2" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
                <div class="div2" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
                <div class="div2" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
                <div class="div2" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
                <div class="div2" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
              </div>
            </div>
            <div class='item middle'><br>
                    <div class='aaa'>
                        <div class='bbb'>
                            <% if user_signed_in? %>
                                <a href='/friends/index'><img src='/like.png'></a>
                            <% end %>
                        </div>
                    </div>
                    <div class="profile"'>
                      <img src='/user.png' class='profileimage'>
                    </div><br>
                    <div class="profile_info">
                        <h1>
                            <%= @nickname %>
                            재인
                        </h1>
                    </div>
                    <br>
                    <div class='friendsandlifetem'>
<!--                         <% if user_signed_in? %>
                            <%= link_to(image_tag("/friends_icon.png", :class => "friends_icon", height: '32', width: '32'), @friends_icon, :method => @friends_method) %>
                            <%= @friends_icon_comment %>
                        <% end %> -->
                            <% if user_signed_in? %>
                                <a href='/friends/index'><img src='/friends_icon.png'></a>
                            <% end %>                        
                    </div>
            </div>
            <div class='item right'>
              <div class='floor three'>
                <div class="div2" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
                <div class="div2" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
                <div class="div2" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
                <div class="div2" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
                <div class="div2" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
                <div class="div2" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
              </div>
              <div class='floor four'>
                <div class="div2" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
                <div class="div2" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
                <div class="div2" ondrop="drop(event)" ondragover="allowDrop(event)"></div>                
                <div class="div2" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
                <div class="div2" ondrop="drop(event)" ondragover="allowDrop(event)"></div>    
                <div class="div2" ondrop="drop(event)" ondragover="allowDrop(event)"></div>             
              </div>
            </div>
          </div>
          <div class='bottom'>
            <div class='floor five'>
                <% @posts.each_with_index do |p,index| %>
                  <div class="box boxdrag <%=index%>" ondrop="drop(event)" ondragover="allowDrop(event)"><a href='/posts/<%=p.id%>'><img src=<%=p.carrierimage.thumb%> draggable="true" ondragstart="drag(event)" id='drag <%=index%>' class="imagedrag"></a>
                  </div>
                <%end%>              
            </div>
          </div>
        </div>
    </div>
    <div class="carousel-item rightside">
        <div class='firstpage'>
          <div class='top'>
            <div class='pageright'>
              <div class='topright floorside'></div>
              <div class='middleright floorside'></div>
            </div>
          </div>
          <div class='bottom'>
            <div class='bottomright floorside'></div>
          </div>
        </div>      
    </div>
    <div class="carousel-item leftside">
        <div class='firstpage'>
          <div class='top'>
            <div class='pageright'>
              <div class='topleft floorside'></div>
              <div class='topleft floorside'></div>
            </div>
          </div>
          <div class='bottom'>
            <div class='bottomleft floorside'></div>
          </div>
        </div>      
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev" style="width: 5%;opacity: 0.01;">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next" style="width: 5%;opacity: 0.01;">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>



<%= link_to 'New Post', new_post_path %>
<!-- 이제 모달 띠울꼬얌- by재인 -->
\
<!-- Trigger/Open The Modal -->
<div id="myBtn">등록하기</div>
                
<!-- The Modal -->
<div id="myModal" class="modal">
                
    <!-- Modal content -->
    <div class="modal-content">
      
      <div class="ctn-form">
        <%= render 'form', post: @post %>
      </div>
    </div>                        
</div>

    <script type='text/javascript'>
        // Get the modal
        var modal = document.getElementById('myModal');
        
        // Get the button that opens the modal
        var btn = document.getElementById("myBtn");
        
        // Get the <span> element that closes the modal
        var span = document.getElementsByClassName("close")[0];
        
        // When the user clicks the button, open the modal 
        btn.onclick = function() {
            modal.style.display = "block";
        }
        
        // When the user clicks on <span> (x), close the modal
        span.onclick = function() {
            modal.style.display = "none";
        }
        
        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function(event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }        
    </script>

    <!-- 이건 드래그앤드롭 자바 스크립인임 -재인 -->
     <script>
    function allowDrop(ev) {
        ev.preventDefault();
    }

    function drag(ev) {
        ev.dataTransfer.setData("text", ev.target.id);
    }

    function drop(ev) {
        ev.preventDefault();
        var data = ev.dataTransfer.getData("text");
        ev.target.appendChild(document.getElementById(data));
    }
    </script>

