<p id="notice"><%= notice %></p>

<h1>화장대 목록 안녕 나는 재인</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Memo</th>
      <th>Img url</th>
      <th>Category</th>
      <th>Open date</th>
      <th>Exp date</th>
      <th>Public</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.title %></td>
        <td><%= post.memo %></td>
        <td><%= post.img_url %></td>
        <td><%= post.category %></td>
        <td><%= post.open_date %></td>
        <td><%= post.exp_date %></td>
        <td><%= post.public %></td>
        <td><%= post.user_id %></td>
        <td><%= link_to 'Show', post %></td>
        <td><%= link_to 'Edit', edit_post_path(post) %></td>
        <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '화장품 등록하기', new_post_path %>

<%= link_to '친구기능(friend_requests/index)', friend_requests_path %>
