<nav class="navbar navbar-dark bg-dark" style='height: 80px;'>
  <div class='headingpouch'>
    <a class="navbar-brand" href="#">Pouch Mate</a>
  </div>
</nav> 

<!-- The Modal -->
<div id="myModal1" class="modal1">
<!-- Modal content -->
  <div class="modal-content1">
    <div class="ctn-form">
    <%= render 'form', post: @post %>
    </div>
  </div>                        
</div>
<br>

<!--카루셀 화장대-->
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" data-interval="10000">
  <div class="carousel-inner">
    <div class="carousel-item active">
        <div class='firstpage'>
          <div class='top'>
            <div class='item left'>
              <div class='floor one'>
                <div class="div2" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
                <div class="div2" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
                <div class="div2" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
                <div class="div2" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
                <div class="div2" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
                <div class="div2" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
              </div>
              <div class='floor two'>
                <div class="div2" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
                <div class="div2" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
                <div class="div2" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
                <div class="div2" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
                <div class="div2" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
                <div class="div2" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
              </div>
            </div>
            <div class='item middle'>
                    <div class='aaa'>
                        <div class='bbb'>
                            <% if user_signed_in? %>
                                <a href='/friends/index'><img src='/like.png'></a>
                            <% end %>
                        </div>
                    </div>
                    <div class="profile"'>
                      <img src='/user.png' class='profileimage'>
                    </div><br>
                    <div class="profile_info">
                        <h1>
                            <%= @nickname %>
                            유정
                        </h1>
                    </div>
                    <br>
                    <div class='wrapwrap'>
                      <div class='friendsandlifetem'>
                              <% if user_signed_in? %>
                                  <a href='/friends/index'><img src='/friends_icon.png'></a>
                              <% end %>                        
                      </div>
                      <div id="myBtn1"><img src='/plus.png'></div>
                    </div>
            </div>
            <div class='item right'>
              <div class='floor three'>
                <div class="div2" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
                <div class="div2" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
                <div class="div2" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
                <div class="div2" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
                <div class="div2" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
                <div class="div2" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
              </div>
              <div class='floor four'>
                <div class="div2" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
                <div class="div2" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
                <div class="div2" ondrop="drop(event)" ondragover="allowDrop(event)"></div>                
                <div class="div2" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
                <div class="div2" ondrop="drop(event)" ondragover="allowDrop(event)"></div>    
                <div class="div2" ondrop="drop(event)" ondragover="allowDrop(event)"></div>             
              </div>
            </div>
          </div>
          <div class='bottom'>
            <div class='floor five'>
                <% @posts.each_with_index do |p,index| %>
                  <div class="box boxdrag <%=index%>" ondrop="drop(event)" ondragover="allowDrop(event)">
                    <a href='/posts/<%=p.id%>'>
                      <img src="<%= p.carrierimage.thumb.url %>" draggable="true" ondragstart="drag(event)" id='drag <%=index%>' class="imagedrag">
                    </a>
                  </div>
                <%end%>              
            </div>
          </div>
        </div>
    </div>
    <div class="carousel-item rightside">
        <div class='firstpage'>
          <div class='top'>
            <div class='pageright'>
              <div class='topright floorside'></div>
              <div class='middleright floorside'></div>
            </div>
          </div>
          <div class='bottom'>
            <div class='bottomright floorside'></div>
          </div>
        </div>      
    </div>
    <div class="carousel-item leftside">
        <div class='firstpage'>
          <div class='top'>
            <div class='pageright'>
              <div class='topleft floorside'> 
              </div>
              <div class='topleft floorside'></div>
            </div>
          </div>
          <div class='bottom'>
            <div class='bottomleft floorside'></div>
          </div>
        </div>      
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev" style="width: 5%;opacity: 0.01;">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next" style="width: 5%;opacity: 0.01;">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<div class='footer'>

  <div class='comment_div'>
    <div class='comment_title'>
      <p>파우치 리뷰</p><br>
    </div>


<%= link_to 'New Post', new_post_path %>
<!-- 이제 모달 띠울꼬얌- by재인 -->
\
<!-- Trigger/Open The Modal -->
<div id="myBtn">등록하기</div>
                
<!-- The Modal -->
<div id="myModal" class="modal">
    <!-- Modal content -->
    <div class="modal-content">
      <div class="ctn-form">
        <%= render 'form', post: @post %>

    <div class='comment_content'>
      <div class='comment_profile'><img src='/user.png' class='commentprofileimage'></div>
      <div class='comment_comment'>
        <p>다은 재인아 DHC 클렌징 오일 어때?</p>
        <p>4주 답글달기</p>

      </div>
    </div>
  </div>

  <div class='friends_div'>인생템</div>
</div>
<div class='daeun'>
   <%= form_tag("/posts/search", method: "get") do %>
        <%= text_field_tag(:search,params[:search]) %>
        <%= submit_tag "검색", :name => nil %>
    <% end %>

    
</div>
<%= link_to '친구기능(friend_requests/index)', friend_requests_path %>

    <script type='text/javascript'>
        // Get the modal
        var modal1 = document.getElementById('myModal1');
        
        // Get the button that opens the modal
        var btn1 = document.getElementById("myBtn1");
        
        // Get the <span> element that closes the modal
        var span = document.getElementsByClassName("close")[0];
        
        // When the user clicks the button, open the modal 
        btn1.onclick = function() {
            modal1.style.display = "block";
        }
        
        // When the user clicks on <span> (x), close the modal
        span.onclick = function() {
            modal1.style.display = "none";
        }
        
        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function(event) {
            if (event.target == modal1) {
                modal1.style.display = "none";
            }
        }        
    </script>

    <!-- 이건 드래그앤드롭 자바 스크립인임 -재인 -->
     <script>
    function allowDrop(ev) {
        ev.preventDefault();
    }

    function drag(ev) {
        ev.dataTransfer.setData("text", ev.target.id);
    }

    function drop(ev) {
        ev.preventDefault();
        var data = ev.dataTransfer.getData("text");
        ev.target.appendChild(document.getElementById(data));
    }
    </script>