<p id="notice"><%= notice %></p>

<h1>화장대 목록</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Memo</th>
      <th>Img url</th>
      <th>Category</th>
      <th>Open date</th>
      <th>Exp date</th>
      <th>Public</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.title %></td>
        <td><%= post.memo %></td>
        <td><%= post.img_url %></td>
        <td><%= post.category %></td>
        <td><%= post.open_date %></td>
        <td><%= post.exp_date %></td>
        <td><%= post.public %></td>
        <td><%= post.user_id %></td>
        <td><%= link_to 'Show', post %></td>
        <td><%= link_to 'Edit', edit_post_path(post) %></td>
        <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<p>요기부터 화장대당</p>


<!--카루셀 화장대-->






<%= link_to 'New Post', new_post_path %>
<!-- 이제 모달 띠울꼬얌- by재인 -->
\
<!-- Trigger/Open The Modal -->
<div id="myBtn">등록하기</div>
                
<!-- The Modal -->
<div id="myModal" class="modal">
                
    <!-- Modal content -->
    <div class="modal-content">
      
      <div class="ctn-form">
        <%= render 'form', post: @post %>
      </div>
    </div>                        
</div>

    <script type='text/javascript'>
        // Get the modal
        var modal = document.getElementById('myModal');
        
        // Get the button that opens the modal
        var btn = document.getElementById("myBtn");
        
        // Get the <span> element that closes the modal
        var span = document.getElementsByClassName("close")[0];
        
        // When the user clicks the button, open the modal 
        btn.onclick = function() {
            modal.style.display = "block";
        }
        
        // When the user clicks on <span> (x), close the modal
        span.onclick = function() {
            modal.style.display = "none";
        }
        
        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function(event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }        
    </script>
 


