<!DOCTYPE html>
<html>
  <head>
    <title>Pouchmate</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    
    <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- Required meta tags 부트스트랩홈페이지 카루셀-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"> 

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS 카루셀-->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>    
  </head>

  <body>
    <nav class="jnav" style='height: 90px;'>
      <div class='headingpouch'>
        <% if user_signed_in? %>
          <%= link_to 'PouchMate', tables_path(current_user.id), {:class => 'jnavbar_brand'} %>
        <% end %>
      </div>
      <div class="cntr-innr">
        <div class='search'>
          <form autocomplete="off" action="/posts/search">
            <div class="autocomplete" style="width:300px;">
              <input id="myInput" type="text" name="mySearch" >
            </div>
            <input type="submit">
          </form>
        </div>  
      </div> 
    </nav>   

    <% if notice %>
      <p id="notice"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p id="alert"><%= alert %></p>
    <% end %>      
    <%= yield %>

    <div class='application_login_info'>
      <p>★모든 페이지마다 공유하는 로그인 서식★
        </br>
        <% if user_signed_in? %>
          <%= current_user.email %>
          <%= link_to "회원정보수정", edit_user_registration_path %>
          <%= link_to "로그아웃하기", destroy_user_session_path %>
        <% else %>
          <%= link_to '로그인', new_user_session_path %>
          <%= link_to '회원가입', new_user_registration_path %>
        <%end%>
      </p>
    </div>
  </body>
  
</html>
