

<div class='mypage-header'>
  <h2>My Page</h2>
</div>

<div class='mypage-container'>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= devise_error_messages! %>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>이메일 인증을 완료해주세요 : <%= resource.unconfirmed_email %></div>
      <% end %>
      <div class='text' id='regis_explain'>
        <h3>회원 정보 수정</h3><br>
      </div>
      <div class="field" id='regis_email'>
        이메일
        <%= current_user.email %>
      </div>

      <div class="field" id='regis_name'>
        이름
        <%= current_user.username %>
      </div>

      <hr size="1" width="95%" noshade style="color:#D3D3D3" align="center">

      <div class="field" id='regis_name'>
        <%= f.label :"닉네임" %>
        <%= f.text_field :nickname, autofocus: true %>
      </div>

      <div class="field" id='regis_profileimage'>
        <%= f.label :"프로필 사진" %></br>
        <img src="<%= current_user.profile_img.thumb.url %>" id='regis_image'/><br></br>
        <%= f.file_field :profile_img %>
      </div>

      <div class="field" id='regis_age'>
        <%= f.label :"나이" %>
        <%= f.select :age, options_for_select(10..99, current_user.age) %>
      </div>

      <div class="field" id='regis_gender'>
        <%= f.label :"성별" %>
          <%= label_tag(:gender, "남자") %>
          <%= f.radio_button(:gender, "남자", :checked => true) %>
          <%= label_tag(:gender, "여자") %>
          <%= f.radio_button(:gender, "여자") %>
      </div>

        <div class="field" >
        <%= f.label :"한줄소개" %><br>
        <%= f.text_field :intro %>
      </div>

      <hr size="1" width="95%" noshade style="color:#D3D3D3" align="center">


      <div class="field">
        <%= f.label :"비밀번호" %> <span style='font-size:8px'>(공백으로 두시면 바뀌지 않습니다 / 6자 이상)</span><br>
        <%= f.password_field :password, autocomplete: "off"  %>
        <% if @minimum_password_length %>
        <% end %>
      </div>

      <div class="field">
        <%= f.label :"비밀번호 확인" %><br>
        <%= f.password_field :password_confirmation, autocomplete: "off" %>
      </div>

      <div class="field">
        <%= f.label :"현재 비밀번호" %> <span style='font-size:8px'>(정보 수정을 위해 현재 비밀번호를 입력하세요)</span><br />
        <%= f.password_field :current_password, autocomplete: "off" %>
      </div>

      <div class="actions">
        <%= f.submit "수정하기" %>
      </div>
    <% end %>

    <p><%= button_to "회원탈퇴", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>
</div>
<%= link_to "돌아가기", :back %>

<style>
  .mypage-header{
    margin-top: 20px;
    background: white;
    width: 50%;
    margin: 0 auto;
    height: 30px;
    font-size: 20px;
  }

  .mypage-container{
    text-align: left;
    padding: 20px 0 0 0;
    border: 0.5 solid grey;
    margin-top: 20px;
    background: white;
    width: 50%;
    height: 100%;
    margin: 0 auto;
    font-size: 15px;
    box-shadow: 5px 5px 4px grey;
  }

  #regis_image{
    width: 150px;
    height: 100px;
    margin: 0 auto;
  }

  .actions{
    color: #D3D3D3;
    background: transparent;
    border: 2px solid #D3D3D3;
    border-radius: 6px;
    border: none;
    color: white;
    padding: 10px 12px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    text-decoration: none;
    text-transform: uppercase;
    }
    .actions {
/*          background-color: white; 
*/          color: black; 
          border: 2px solid #008CBA;
    }
   .actions:hover {
      background-color: #008CBA;
      color: white;
  }


</style>

